<!-- pagina 404 con tailwind modo oscuro -->

<div class="flex flex-col items-center justify-center h-screen">
  <div class="flex-1 flex flex-col items-center justify-center p-4">
    <h1 class="text-center mb-4 text-6xl font-bold text-primary">404</h1>
    <h2 class="text-center mb-4 text-2xl font-semibold text-white">
      Pagina no encontrada
    </h2>
    <p class="text-center mb-4 text-white">
      La pagina que buscas no existe o no esta disponible
    </p>
    <a routerLink="/" class="btn btn--primary">Volver al inicio</a>
  </div>

  <div
    class="flex flex-col items-center justify-center mt-8 text-white w-full border-t border-solid border-color-primary p-4"
  >
    <p class="text-center text-lg animate-pulse">
      Redireccionando en
      <span class="text-primary font-extrabold">{{ seconds }}</span>
      segundos
    </p>
  </div>
</div>
