<!-- MODAL -->
<div class="modal" (click)="handleCloseModalContainer($event)">
  <div class="modal__container p-6">
    <!-- TITULO -->
    <div class="mb-6">
      <div class="mb-4 flex items-center justify-between gap-3">
        <p class="text-2xl font-bold">{{ dialogTitle }}</p>
        <button
          class="text-gray-400 hover:text-gray-200 transition-all duration-300"
          (click)="handleClose()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- MENSAGE -->
      <p class="text-base">{{ dialogMessage }}</p>
    </div>

    <!-- CONTENT -->
    <ng-content></ng-content>

    <!-- ACTIONS -->
    <div class="flex justify-end gap-2 flex-wrap">
      <button class="btn btn--secondary" (click)="handleClose()">
        {{ dialogCancelText }}
      </button>

      <shared-button
        className="btn btn--primary"
        [text]="dialogConfirmText"
        type="submit"
        [loading]="loading"
        (click)="handleConfirm()"
      />
    </div>
  </div>
</div>
